<body>
  <div style = 'float: right; margin-right: 275px;'>
    <%=@name%>'s Board
  </div>
  <div style = 'float:left; margin-left: 275px;'>
    Opponents' Board
  </div>
  <div style= 'width: 600px; height: 680px; float:right; margin-top: 10px'>
    <%= @grid %>
  </div>
 <div style= 'width: 600px; height: 680px; float:left; margin-top: 10px;'>
   <%= @grid2 %>
 </div>
</body>
