<div style = 'height: 700px;
background-image: url("http://gifatron.com/wp-content/uploads/2013/01/tumblr_lrylxlTnsA1qacgfco2_500.gif")'>
<h1 style = "text-align: center;
color: red;
">YOU WIN<h1>
</div>
