<div style = 'float: top; text-align:center'>
<h3><%= @name %>'s Game</h3>
</div>

<%= @grid %>
<div>
<form action="/game_setup" method="post">
    Choose coordinate to shoot
    <input type="text" name="coord" autofocus>
</form>
<div>
